.project {
    display: flex;
    gap: 4rem;
    align-items: center;
    margin-bottom: 3rem;
    padding: 0.5rem;
}

.project-num {
    display: flex;
    align-items: center;
    gap: 4rem;
    flex: 0.5;
}
.project-overview {
    background-color: teal;
    height: 20rem;
    width: 30vw;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 300ms, color 300ms;
    padding: 0 0.5rem;
}
.project-overview:hover {
    background-color: rgb(59, 59, 59);
    color: white;
}
.project-overview p {
    font-size: 2rem;
}
.project-overview p a {
    text-decoration: underline;
    cursor: pointer;
    color: rgb(239, 210, 24);
}
.project-description {
    line-height: 2;
    flex: 1.5;
}
.projects-header {
    text-transform: capitalize;
    text-align: center;
    padding: 2rem 0;
}
.projects-header::after {
    content: "😊";
}
.project-lists {
    width: 60rem;
    text-align: left;
}
@media (max-width: 450px) {
    .project {
        display: flex;
        flex-direction: column;
        gap: unset;
        align-items: unset;
        margin-bottom: 0.5rem;
        padding: unset;
    }
    .projects {
        width: 100%;
        margin: auto;
        padding: 0 1rem;
    }
    .project-num {
        gap: 1rem;
    }
    .project-overview {
        width: 80%;
        margin: auto;
    }
    .project-description {
        line-height: 1;
        padding: 0 0.5rem;
    }
    .project-lists {
        width: fit-content;
        text-align: center;
    }
}