.about {
    width: 50rem;
    margin: 0 auto 2rem auto;
}

.about h2 {
    text-align: center;
}

.about p {
    font-size: larger;
    line-height: 2;
}

@media (max-width: 430px) {
    .about {
        width: 100%;
        margin: auto;
        text-align: center;
    }
}