.form {
    width: 40rem;
    padding: 1rem;
    margin: 1rem;
    background-color: rgb(211, 211, 211);
}

.form label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}
.form input {
    font: inherit;
    font-size: 1rem;
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: none;
}
.form textarea {
    font: inherit;
    font-size: 1rem;
    display: block;
    width: 100%;
    line-height: 1.5;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}
.form button {
    font: inherit;
    background-color: teal;
    border: none;
    outline: none;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 4px;
    cursor: pointer;
}

.form button:hover {
    outline: none;
    background-color: black;
    color: white;
}