@import url("https://fonts.googleapis.com/css2?family=Zeyada&display=swap");

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: teal;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: white;
  box-shadow: 5px 5px 20px 2px rgba(175, 175, 175, 0.5);
  text-transform: uppercase;
  padding: 1rem 0.5rem;
}
.header {
  margin: 0;
  font-family: "Zeyada", cursive;
}
.menu-bar {
  display: none;
}
.nav-lists {
  display: flex;
  gap: 1rem;
}
nav li {
  margin-right: 2rem;
  font-weight: bold;
}

@media (max-width: 430px) {
  nav {
    width: 100vw;
    position: absolute;
  }
  .header {
    font-family: sans-serif;
    font-size: 1rem;
  }
  .menu-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 10px;
    top: 10px;
  }
  .nav-lists {
    display: none;
    position: absolute;
    top: 80px;
    right: 0;
    padding: 2rem;
    line-height: 3;
    background-color: white;
    box-shadow: 5px 5px 20px 2px rgba(175, 175, 175, 0.5);
  }
  .nav-lists.block {
    display: block;
  }
}
